<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SitePhysicalPath" value="C:\Program Files\AcumaticaERP24R1New\AcumaticaTestDB" />
    <add key="GenResultPath" value="D:\acumatica-test-sdk-framework\Out" />
    <add key="Username" value="admin" />
    <add key="Namespace" value="GeneratedWrappers.Acumatica" />
    <add key="ClearOutput" value="false" />
    <add key="FilenameFilter" value="*SO301000*" />
    <!--<add key="PagesList" value="list.txt"/>
    <add key="PagesListAttribute" value="exclude"/>
    <add key="PagesListAttribute" value="include"/>
    <add key="PagesParameters" value="ParamsPP.txt"/>
    <add key="GenericInquiryParameters" value="ParamsGI.txt"/>-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>