<?xml version="1.0" encoding="utf-8"?>
<config>
  <general>
    <browserbin>D:\acumatica-test-sdk-framework\Chrome\chrome.exe</browserbin>
    <browser_downloads_folder>c:\share\download\</browser_downloads_folder>
    <site_dst>
      <url>http://localhost/AcumaticaTestDB/</url>
      <login>admin</login>
      <pswd>Admin@123</pswd>
    </site_dst>
    <logging>
        <logStorage type="htmlfile" level="INFO" outputFolder="D:\acumatica-test-sdk-framework\Test_Result_Logs" screenshotActive="true" />
    </logging>
  </general>
  <testing>
    <Check Name="TestCase"/>
  </testing>
</config>